#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to you under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
name: Build (Camel Main)

env:
  MAVEN_OPTS: -Xmx3000m
  MAVEN_ARGS: -V -ntp -nsu -Dhttp.keepAlive=false -e
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

on:
  push:
    branches:
      - camel-main
    paths-ignore:
      - '**.adoc'
      - 'KEYS'
      - 'LICENSE'
      - 'NOTICE'
      - 'Jenkinsfile'
  pull_request:
    branches:
      - camel-main
    paths-ignore:
      - '**.adoc'
      - 'KEYS'
      - 'LICENSE'
      - 'NOTICE'
      - 'Jenkinsfile'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        persist-credentials: false
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
#  For the time being (Camel 3.10 + Camel Quarkus 2.0) we remain aligned to Camel 3.10
#  because that's what Camel Quarkus depends on. After that, we can re-enable this.
#  See: https://github.com/apache/camel-k-runtime/issues/669
#    - name: Build camel (main)
#      run: |
#        git clone --depth 1 --branch main https://github.com/apache/camel.git \
#          && cd camel \
#          && echo "Current Camel commit:" $(git rev-parse HEAD) \
#          && ./mvnw ${MAVEN_ARGS} clean install -Pfastinstall
# We are currently building with Quarkus Snapshots from Apache repos, which is why this
# this temporarily disabled
#    - name: Build camel-quarkus (main)
#      run: |
#        git clone --depth 1 --branch main https://github.com/apache/camel-quarkus.git \
#          && cd camel-quarkus \
#          && echo "Current Camel Quarkus commit:" $(git rev-parse HEAD) \
#          && ./mvnw ${MAVEN_ARGS} clean install -Dquickly
    - name: Build camel-k-runtime
      run: ./mvnw ${MAVEN_ARGS} -Dcheckstyle.failOnViolation=true -Psourcecheck clean verify
